<!DOCTYPE html>
<html>

<head>
    <title>Generated HTML</title>
</head>

<body>
    <h1>User List</h1>
    <ul>
        {{#each users}}
        <li>{{firstName}} {{lastName}}</li>
        {{/each}}
    </ul>
</body>

</html>